<!DOCTYPE HTML>
<html>
    <head>
            <title>Registration Form </title>
    </head>
    <body>
        <form method="POST" action="/profile"></form>
            Name : <input type="text" name="name" id="name" />
        <br/>
            EmpID : <input type="text" name="empid" id="empid" />
        <br/>
            userid : <input type="text" name="userid" id="userid" />
        <br/>
            Submit : <input type="submit" name="submit" id="submit" >

    </body>
</html>