<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <form action="/profile" method="POST">
            UserName<input type="text" name="username"/>
            <br/>
            Password<input type="password" name="password">    
            <br/>
            Login<input type="submit" value="login" >
        </form>
        <form action="/register" method="GET" >        
        </form>   
        Register/Sign-Up<input type="submit" onclick="href.location='/register'" value="register" />        
       
    </body>
</html>