<html>
    <head>
        <title> File Upload </title>
    </head>
    <body>
            Button<input type="submit" value="download" onclick="href.location='/reg'" /> 
            Register/Sign-Up<input type="submit" onclick="href.location='/reg'" value="register" />        
        <br/>
            <form method="GET" action="/download" >
            Button<input type="submit" value="form" /> 
        </form>

    </body>
    
</html>