<html>
    <head>
        <title> Sample Web Page</title>
    </head>
    <body>
        <form action="/reg" name="fileDownload"  method="POST">
            <p>    <%=id[0] %>      </p>
            <br/>
            <p>    <%=id[1] %>      </p>

            <%   for (var i=0; i<id.length; i++ )     {      %>
                    <%=fileName[i] %> <input type="submit"   value="download_files" id=id[i]>
                 <br/>
              <%  }       %>
       <input type="submit" value="download_files" id='ipoas_1' name="downloads"  >
        </form>
        
    </body>    
</html>
