<html>
    <head>
        <title> Sample Web Page</title>
    </head>
    <body>
        <form action="/reg" method="POST">
       <input type="submit" value="download_files" name="downloads"  >
        </form>

    </body>
</html>